/*.jumbotron {
	background-color:red;
}*/

@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,300italic,400);

.top-nav li {
	display:inline;
	font-size:3em;
/*	margin-left:6%;
	margin-right:6%;*/
	display: table-cell;
	float: none;
	width: 1%;
}

.top-nav li a {
	color:#fff;
}

.top-nav {
	background:rgba(0,0,0,0.6);
	top:0;
}

/*.navbar-nav>li {
  float: none;
}*/

body,h1,h2,.navbar-brand {
	font-family:'Roboto', arial, sans-serif;

}
/*
.navbar {
	background-color:#fff;
	border:none;
	margin-top:2em;
}

.navbar li a {
	font-size:1.5em;
	font-weight: 100;

}

.navbar-right ul {
	display:inline;
}

.navbar-brand {
	font-size:3em;
	font-weight: 100;
	margin-top:-40px;
}
*/
.ng-scope {
	background-color: #fff;
}

h1 {
	font-weight: 300;
}

button {
	font-weight: 300;
	margin-top:10px;
}

.options {
	font-weight: 300;
}

li {
	list-style-type: none;
}

#currentQuestionList {
	text-align:left;
}

#currentQuestions {
	font-weight:700;
}

#currentOptions {
	display:inline;
	list-style-type:none;
	font-weight:300;
}

#optionsList {
	text-align:left;
}

#optionsList label {
	font-weight:100;
}

#addQuestionForm{
	margin-top:-30px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
{
	background-color: #21debe;
}

.nav-pills>li>a {
	color: #21debe;
}
@media screen and (max-width: 768px) {
/*	.navbar li a {
		text-align:center;
	}*/
}

@media screen and (max-width: 450px) {
/*	.nav-pills>li { 
		width:100%;
		text-align:center;
	}
	.nav>li>a {
		text-align:center;
	}*/
}


