/*.jumbotron {
	background-color:red;
}*/

@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,300italic,400);

body,h1,h2,.navbar-brand {
	font-family:'Roboto', arial, sans-serif;
}

.navbar {
	background-color:#fff;
	border:none;
	margin-top:2em;
}

.navbar li a {
	font-size:1.5em;
	font-weight: 100;
}

.navbar-brand {
	font-size:3em;
	font-weight: 100;
}

.ng-scope {
	background-color: #fff;
}

h1 {
	font-weight: 300;
}

button {
	font-weight: 300;
	margin-top:10px;
}

.options {
	font-weight: 300;
}

li {
	list-style-type: none;
}

#currentOptions {
	display:inline;
	list-style-type:none;
}

#currentQuestionList {
	text-align:left;
}

#currentQuestion{
	font-weight:300;
}

#optionsList {
	text-align:left;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
{
	background-color: #21debe;
}

.nav-pills>li>a {
	color: #21debe;
}
@media screen and (max-width: 768px) {
	.navbar li a {
		text-align:center;
	}
}

@media screen and (max-width: 450px) {
	.nav-pills>li.active { 
		width:100%;
		text-align:center;
	}
	.nav>li>a {
		text-align:center;
	}
}




