<div class="jumbotron text-center">
	    	<div ng-if="noQuestions">
    			<p>Welcome to Tally!</p>
    			<p>You don't have any questions yet.</p>
    			<p>Tap&nbsp;&nbsp;<i class="fa fa-edit"></i> above to add some,
    				then come back to this page to quiz yourself!</p>
    		</div>

	<div ng-repeat="q in questionBank">
    	<div ng-if="question_index == $index">
        	{{q.question}}
				<ul>
					<li id="optionsList" ng-repeat="option in q.options track by $index">		
						<label>
						<input 	type="radio"
								ng-model="userInput.answer"
								value="{{ $index }}"
								name="answer"
								ng-click="erase()">
						{{option}} 
						</label>
					</li>
				</ul>
			<div ng-if="userCorrect"><i class="fa fa-check"></i>Correct!</div>
			<div ng-if="userWrong"><i class="fa fa-times"></i>Try again!</div>
			<button ng-click="check()">Check answer</button>
    	</div>
	</div>
    <div ng-hide="questionBank.length <= 1"><button ng-click="next();erase()">Next</button></div>
</div>
