<div class="jumbotron">
	<div ng-show="noQuestions">
		<p>Welcome to Tally!</p>
		<p>You don't have any questions yet.</p>
		<p>Tap&nbsp;&nbsp;<i class="fa fa-edit"></i> above to add some,
			then come back to this page to quiz yourself!</p>
	</div>

	<!-- {{location}} -->

	<div id="quiz" ng-repeat="q in questionBank">
		<div ng-show="question_index == $index" class="quizAnim">
	    	<span id="quizQuestion">{{q.question}}</span>
				<ul id="optionsList">
					<li ng-repeat="option in q.options track by $index">		
						<label>
						<input 	type="radio"
								ng-model="userInput.answer"
								value="{{ $index }}"
								name="answer"
								ng-click="erase()">
						<span class="radioButtons2"></span>
						{{option}} 
						</label>
					</li> 
				</ul>
		</div>
	</div>

	<div class="row quizQs">

		<div class="col-xs-3 quiz1">
			<div ng-hide="questionBank.length < 1">
				<button id="backButton"ng-click="back();erase()">
					<i class="fa fa-arrow-circle-left"></i>
				</button>
			</div>
		</div>

	 	<div class="col-xs-6 quiz2">
			<button class="btn check-answer" ng-click="check()" ng-hide="noQuestions">Check answer</button>
		</div>

		<div class="col-xs-3 quiz3">
			<div ng-hide="questionBank.length < 1">
				<button id="nextButton"ng-click="next();erase()">
					<i class="fa fa-arrow-circle-right"></i>
				</button>
			</div>
		</div>
	</div>

	<div class="correct" ng-show="userCorrect"><i id="check" class="fa fa-check"></i>Correct!</div>
	<div class="incorrect" ng-show="userWrong"><i id="x" class="fa fa-times"></i>Try again!</div>
</div>

