<div class="jumbotron text-center">
	<!-- <p>{{ message }}</p> -->

	<section id="tabs">
		<ul class="nav nav-pills text-center">
			<li class="text-center" ng-class="{ active:tab === 1}">
				<a href ng-click="selectTab(1)">1. Create Questions</a>
			</li>
			<li class="text-center" ng-class="{ active:tab === 2}">
				<a href ng-click="selectTab(2)">2. Quiz Yourself!</a>
			</li>
		</ul>
	</section>

	<div class="panel" ng-show="isSelected(1)"> 
		<h4>Create Questions</h4> 
		<form name="addQuestionForm">
			Question:<br/><input type="text" ng-model="newQuestion"/><p/>
			Options:<br/><input type="text" ng-model="newOption"/><p/>
			<!-- <input type="text" ng-model="newOption2"/><br/> -->
			<input type="submit" value="Submit" ng-click="addQuestion()"/> 
		</form>

		<h4>Current Questions:</h4>
		<ul id="currentQuestionList">
			<li id="currentQuestions" ng-repeat="q in questionBank">
				{{q.question}}
					<ul>
						<li id="currentOptions" ng-repeat="option in q.options">
							{{option}},
						</li>
					</ul>
			</li>
		</ul>
 	</div>

 	<div class="panel" ng-show="isSelected(2)">
		<!-- <h4>Quiz yourself!</h4>  -->
		<!-- <a href="" ng-click="">Start!</a> -->

<!-- Referenced Rob's answer https://stackoverflow.com/questions/25087576/angularjs-ng-repeat-show-one-item-at-a-time for logic (http://jsfiddle.net/c6RZK/) for cycling through questions-->
		<div ng-repeat="q in questionBank">
        	<div ng-if="question_index == $index">
            	{{q.question}}
					<ul>
						<li id="optionsList" ng-repeat="option in q.options">		
							<label>
							<input 	type="radio"
									ng-model="userInput.answer"
									value="{{ option }}"
									name="answer"
									ng-click="erase()">
							{{option}}
							</label>
						</li>
					</ul>
					<button ng-click="check()">Check answer</button>
					<br/>
        	</div>
    	</div>

    	<div ng-if="userCorrect">Correct!</div>
    	<div ng-if="userWrong">Try again!</div>

    	<button ng-click="next();erase()">Next</button>
 	</div>
</div>
