<div class="text-center container">

	<section id="tabs">
		<ul class="nav nav-pills text-center">
			<li class="text-center" ng-class="{ active:tab === 1}">
				<a href ng-click="selectTab(1)">Create<br/>Questions</a>
			</li>
			<li class="text-center" ng-class="{ active:tab === 2 }" ng-click="erase()">
				<a href ng-click="selectTab(2)">Review<br/>Questions</a>
			</li>
		</ul>
	</section>

	<!-- {{location}} -->

	<div class="panel" ng-show="isSelected(1)"> 

	<p>Fill in your question and options, and select which option is the correct answer on the left.</p>

	<form name="addQuestionForm" id="addQuestionForm" ng-submit="addQuestion();confirm()" novalidate>
			<!-- <input type="text" -->
			<textarea rows="2"
				placeholder="Question"
				ng-model="newQuestion"
				class="form-control question-input"
				required><p/></textarea>

	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-addon">
	        <label>
		        <input type="radio"
					ng-model="setAnswer"
					value=0
					name="options"
					class="radio"
					required>
				<span class="radioButtons"></span><div></div>
			</label>
	      </span>
	      	<input type="text" ng-model="newOptionA" required placeholder="Option A" class="form-control option-input"/><p/>
	    </div>
	  </div><p/>

	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-addon">
	      	<label>
	        <input type="radio"
				ng-model="setAnswer"
				value=1
				name="options"
				class="radio"
				required>
				<span class="radioButtons"></span><div></div>
			</label>
	      </span>
	      <input type="text" ng-model="newOptionB" required placeholder="Option B" class="form-control option-input"/><p/>
	    </div>
	  </div><p/>

	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-addon">
	      	<label>
	        <input type="radio"
				ng-model="setAnswer"
				value=2
				name="options"
				class="radio"
				required>
				<span class="radioButtons"></span><div></div>
			</label>
	      </span>
	      <input type="text" ng-model="newOptionC" required placeholder="Option C" class="form-control option-input"/><p/>
	    </div>
	  </div><p/>

	    <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-addon">
	      	<label>
	        <input type="radio"
				ng-model="setAnswer"
				value=3
				name="options"
				class="radio"
				required>
				<span class="radioButtons"></span><div></div>
			</label>
	      </span>
	      <input type="text" ng-model="newOptionD" required placeholder="Option D" class="form-control option-input"/><p/>
	    </div>
	  </div><p/>
	</div>
	<input type="submit" class="btn submit-question" value="Submit"/> 
	<span ng-show='showMessage'><i id="check2" class="fa fa-check"></i></span>
</form>

</div>

	</span>
</div>
 	</div>

 	<div class="panel" ng-show="isSelected(2)">
 		 <div ng-show="noQuestions">
 			<p>You don't have any questions!</p>
    		<p>Tap "Create Questions" above to get started.</p>
    	</div>

		<ul id="currentQuestionList" ng-hide="noQuestions">
			<li id="currentQuestions" ng-repeat="q in questionBank track by $index">
				
				<div class="container questions">
					<div class="row questions">
						<div class="col-xs-10 questions">
							{{q.question}}
						</div>
						<div class="col-xs-2 questions">
							<button id="trashQuestion" ng-click="deleteQuestion($index)"><i class="fa fa-trash"></i></button>	
						</div>
					</div>
				</div>

				<ol type="A">
					<li id="currentOptions" ng-repeat="option in q.options track by $index">
						{{option}}<br/>
					</li>
				</ol>
			</li>
		</ul>
</div>