<div class="jumbotron text-center">

	<section>
	<ul class="nav nav-pills">
		<li><a href>Quiz Yourself</a></li>
		<li><a href>Create Questions</a></li>
	</ul>

<!-- 	<div ng-show="tab.isSet(1)"></div>
	<div ng-show="tab.isSet(2)"></div> -->
	</section>


	<h1>Question #{{$index + 1}}:</h1>
	
	<p>{{ question.question }}</p>
	<!-- <p>{{ question.answer }}</p> -->
	<ul id="options">
		<li ng-repeat="option in question.options">
			<label>
				<!-- <input type="radio" name="answer" value="{{option}}" ng-class="{ active:answered }"> -->
				 <input type="radio"
			          ng-model="user.answer"
			          ng-value="option"
			          id="{{option}}"
			          name="answer">
				{{option}}
			</label>
		</li>
	</ul>
	<div>You chose {{user.answer}}</div>
	<div>Correct answer is {{question.corAnswer}}</div>
	<a href="#quiz/{{nextQuestion}}" ng-click="checkAns">Next</a>

<!-- 	{{question}}<br/>
	{{question.question}}<br/>
	{{question.options}}<br/> -->
	<a href="#">Back</a><br/>
	
</div>